<a href="https://colab.research.google.com/github/yuxuan0702/Summer-Research-Project-/blob/master/basic_data_inspect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import packages 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

pd.options.display.max_rows = 999
plt.style.use('fivethirtyeight')
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#insitution information 
df = pd.read_csv('/content/drive/My Drive/Summer-Research/data/data-w8lLG.csv')
df.head()

                                      Institution  ...                                           Category
0                    Abilene Christian University  ...  <a href="https://www.acu.edu/coronavirus/april...
1                              Adelphi University  ...  <a href="https://health.adelphi.edu/au_news/co...
2                                  Adrian College  ...  <a href="http://adrian.edu/news/ac-president-d...
3                             Agnes Scott College  ...  <a href="https://www.agnesscott.edu/coronaviru...
4  Albany College of Pharmacy and Health Sciences  ...  <a href="https://www.acphs.edu/sites/default/f...

[5 rows x 4 columns]

In [3]:
# dataset inspect
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Institution  873 non-null    object
 1   Control      870 non-null    object
 2   State        870 non-null    object
 3   Category     870 non-null    object
dtypes: object(4)
memory usage: 27.4+ KB

In [4]:
# inspect the rows with missing 
df[df.isnull().T.any()]

                                           Institution Control State Category
323  0to%20LACCD%20Community.pdf" target="_blank" r...     NaN   NaN      NaN
390   target=_blank" rel="nofollow noopener norefer...     NaN   NaN      NaN
398  campus-college-experience-in-fall-2020" target...     NaN   NaN      NaN
615                                                NaN     NaN   NaN      NaN

In [5]:
# drop the rows with missing since it doesn't have any specific meaning 
df.dropna(how='any',inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 870 entries, 0 to 873
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Institution  870 non-null    object
 1   Control      870 non-null    object
 2   State        870 non-null    object
 3   Category     870 non-null    object
dtypes: object(4)
memory usage: 34.0+ KB

In [6]:
# drop rows equals to # ref 
df = df[df.Institution != '#REF!']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 855 entries, 0 to 873
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Institution  855 non-null    object
 1   Control      855 non-null    object
 2   State        855 non-null    object
 3   Category     855 non-null    object
dtypes: object(4)
memory usage: 33.4+ KB

In [7]:
#check institution duplicated 
df[df.Institution.duplicated(False)]

                              Institution  ...                                           Category
184                       Duke University  ...  <a href="https://today.duke.edu/2020/04/coordi...
185                       Duke University  ...  <a href="https://today.duke.edu/2020/05/presid...
197  Embry-Riddle Aeronautical University  ...  <a href="https://news.erau.edu/headlines/embry...
198  Embry-Riddle Aeronautical University  ...  <a href="https://news.erau.edu/headlines/embry...

[4 rows x 4 columns]

In [0]:
# seems two rows in duke
# so we may only keep one instituon 
df.drop(axis=0,index = 185,inplace = True)

In [9]:
# check duplicate in category 
check_website_duplicate = df[(df.Category!='Planning for online') & (df.Category!='Planning for in-person')& (df.Category!='Proposing a hybrid model')]
check_website_duplicate[check_website_duplicate.Category.duplicated(False)].sort_values('Category')

                              Institution  ...                                           Category
45                  Berkeley City College  ...  <a href="https://alameda.peralta.edu/announcem...
128                    College of Alameda  ...  <a href="https://alameda.peralta.edu/announcem...
354                       Merritt College  ...  <a href="https://alameda.peralta.edu/announcem...
693    University of Michigan at Dearborn  ...  <a href="https://coronavirus.umich.edu/       ...
692   University of Michigan at Ann Arbor  ...  <a href="https://coronavirus.umich.edu/       ...
99                         Cañada College  ...  <a href="https://covid-19.smccd.edu/san-mateo-...
133                  College of San Mateo  ...  <a href="https://covid-19.smccd.edu/san-mateo-...
532                       Skyline College  ...  <a href="https://covid-19.smccd.edu/san-mateo-...
197  Embry-Riddle Aeronautical University  ...  <a href="https://news.erau.edu/headlines/embry...
198  Embry-Riddle Aeronautical University  ...  <a href="https://news.erau.edu/headlines/embry...
25                       Avila University  ...  <a href="https://officeofthepresident.cmail19....
26               Azusa Pacific University  ...  <a href="https://officeofthepresident.cmail19....
761    University of Wisconsin at Madison  ...  <a href="https://uwm.edu/coronavirus/updates/c...
762  University of Wisconsin at Milwaukee  ...  <a href="https://uwm.edu/coronavirus/updates/c...
289                       Juniata College  ...  <a href="https://www.juniata.edu/coronavirus/c...
310                        Lee University  ...  <a href="https://www.juniata.edu/coronavirus/c...
307             Lansing Community College  ...  <a href="https://www.mlive.com/news/ann-arbor/...
239        Grand Rapids Community College  ...  <a href="https://www.mlive.com/news/ann-arbor/...
443             Oakland Community College  ...  <a href="https://www.mlive.com/news/ann-arbor/...
830           Washtenaw Community College  ...  <a href="https://www.mlive.com/news/ann-arbor/...
757                University of Virginia  ...  <a href="https://www.virginiabusiness.com/arti...
231               George Mason University  ...  <a href="https://www.virginiabusiness.com/arti...

[22 rows x 4 columns]

In [0]:
# avila university 
df.iloc[25,3]='https://www.avila.edu/healthy-eagles/'

In [0]:
#juniata college 
df.iloc[289,3] = 'https://www.juniata.edu/coronavirus/'

In [0]:
# Lee University
df.iloc[310,3] = 'http://www.lee.edu/coronavirus/'

- Reason for **Berkeley City College, College of Alameda and Merritt College** under same hyperlink to the alameda health may because they follow the follow the guidelines and best practices for institutions of higher education as recommended by the Alameda County Public Health Department

- Same reason for 
  - Cañada College, Skyline College and College of San Mateo
  - Lansing Community College,Grand Rapids Community College, 
  - Oakland Community College, Washtenaw Community College; 
  - University of Virginia,George Mason University

- Reason for **University of Michigan at Dearborn and University of Michigan at Ann Arbor** share the same link is that they are under same school, just different campus

- Same Reason for 
  - Embry-Riddle Aeronautical University in AZ and FL; 
  - University of Wisconsin at Madison and University of Wisconsin at Milwaukee